<section class="containerCard pb-5 pt-3 container">
    <span class="text pb-3">Un poco más acerca de lo que hago</span>
    <div class="cardsContainer d-md-flex d-block justify-content-around">
        <div id="products-cards-container">
            <div class="products-cards pt-5 d-sm-block d-flex justify-content-around d-lg-flex justify-content-evenly">
                <div class="d-flex justify-content-around mb-1">
                <div class="product-header d-flex flex-column justify-content-around text-white" style="background-image: url({{miPortfolio.hambur.image}});">
                    <h4>{{miPortfolio.hambur.title}}</h4>
                    <p class="parrafo"> {{miPortfolio.hambur.content}} </p>
                    <a href="{{miPortfolio.hambur.btnlink}}" class="info-button w-50">Visitar</a> 
                </div>          
                </div>
            </div>
        </div>
        <div id="products-cards-container">
            <div class="products-cards pt-5 d-sm-block d-flex justify-content-around d-lg-flex justify-content-evenly">
                <div class="d-flex justify-content-around mb-1">
                <div class="product-header d-flex flex-column justify-content-around text-white" style="background-image: url({{miPortfolio.innpulsate.image}});">
                    <h4>{{miPortfolio.innpulsate.title}}</h4>
                    <p class="parrafo"> {{miPortfolio.innpulsate.content}} </p>
                    <a href="{{miPortfolio.innpulsate.btnlink}}" class="info-button w-50">Visitar</a> 
                </div>          
                </div>
            </div>
        </div>
        <div id="products-cards-container">
            <div class="products-cards pt-5 d-sm-block d-flex justify-content-around d-lg-flex justify-content-evenly">
                <div class="d-flex justify-content-around mb-1">
                <div class="product-header d-flex flex-column justify-content-around text-white" style="background-image: url({{miPortfolio.git.image}});">
                    <h4>{{miPortfolio.git.title}}</h4>
                    <p class="parrafo"> {{miPortfolio.git.content}} </p>
                    <a href="{{miPortfolio.git.btnlink}}" class="info-button w-50">Visitar</a> 
                </div>          
                </div>
            </div>
        </div>
    </div>
</section>
