<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">© 2023 BE Company, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://github.com/BrunoEchavarria"><img src="../../../assets/icons/ico-github.png" style="width: 3rem;" alt=""></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/bruno-echavarria-55b126211/"><img src="../../../assets/icons/ico-linkedin.png" style="width: 3rem;" alt=""></a></li>
        <li class="ms-3"><a class="text-muted" href="https://wa.me/3482331920"><img src="../../../assets/icons/ico-whatsapp.png" style="width: 3rem;" alt=""></a></li>
      </ul>
    </footer>
  </div>
