<header class="header navbar navbar-expand-lg navbar-light bg-light navbar-static" style="height: 100px;">
  <div class="container px-3">
      <a href="#" class="navbar-brand pe-3" title="BE portfolio">
          <img src="assets/img/Logo-Portfolio3.png" width="100px" alt="">
      </a>
      <div id="navbarNav" class="offcanvas offcanvas-end d-block d-lg-flex flex-lg-row justify-content-lg-end">
          <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                      <a href="https://wa.me/3482331920" class="nav-link " class="nav-link">
                        <img src="assets/icons/ico-whatsapp.png" alt="">
                        <p class="nav-link__name">Whatsapp</p>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="https://www.instagram.com/bruno_echavarria/?hl=es-la" class="nav-link">
                          <img src="assets/icons/iico-nstagram.png" alt="">
                          <p class="nav-link__name">Instagram</p>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="https://www.linkedin.com/in/bruno-echavarria-55b126211/" class="nav-link">
                        <img src="assets/icons/ico-linkedin.png" alt="">
                        <p class="nav-link__name">Linkeding</p>
                      </a>
                  </li>
                  <li class="nav-item">
                  <a href="https://github.com/BrunoEchavarria" class="nav-link">
                    <img src="assets/icons/ico-github.png" alt="">
                    <p class="nav-link__name">GitHub</p>
                  </a>
                  </li>
              </ul>
          </div>
      </div>
      <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</header>