<!--About me section-->
<section>
<div class="acercade " style="height: 650px; background-image: url(assets/img/bg-port13.jpg);">
    <div class="acercade_transparencia">
        <div class="home "> 
            <div class="container">
                <div class="gneral d-flex justify-content-around">
                    <div class="img-logo justify-content-around d-flex  mt-5" >
                        <div  class=" acercade_img d-flex flex-column justify-content-center ">   
                            <img class="m-auto d-flex justify-content-between"  src="assets/img/Logo-Portfolio3.png" alt="">
                        </div>
                        <div class=" home__aboutme mt-5 mb-5 text-light ">
                          <div class="home__description text-dark m-4">
                            <h2 class="home__descriotion__title"><span class="typed"></span></h2>
                            
                            <div class="home__descriotion__title" id="cadenas-texto">
                              <h2>FrontEnd <i class="txt-change"> Developer. </i> </h2>
                              <!-- <p>FrontEnd <i class="txt-change"> Designer. </i> </p>
                              <p>FrontEnd <i class="txt-change"> Coding. </i> </p> -->
                            </div>
                              
                              <p class="home__description_parrafo">Diseño y codifico cosas muy simples y me encanta lo que hago.</p>
                          </div>
                      </div> 
                    </div>
                </div>   
            </div>   
        </div>
    </div>
</div>
</section>
