<section class="profile p-3">
    <div class="container profile-content ">
        <div class="profile-img m-5 d-flex flex-column justify-content-around">
        <h3>Echavarria, Bruno.</h3>
            <div class="profile-circle">
            <img src="assets/img/img-profile_copia.jpeg" alt="FOTO perfil">
            </div>    
        <p>Perfil: Fuerte capacidad creativa y analítica. Jugador de equipo con un ojo para el detalle.</p>
        </div>
        <div class="profile-decription d-flex flex-column justify-content-around">
            <p class="profile-list"><strong>Educacion: </strong> Programacion - UTN (Universidad Tecnologica Nacional) Marzo 2022 - Presente. <br>Desarrollo Web - Potrero Digital programacion FrontEnd y BackEnd marzo - noviembre 2021. Argentina Programa - Fundamentos , JavaScript , Ruby - Marzo - Diciembre 2022<br></p>
            <p class="profile-list"><strong>Experiencia: </strong>Desarrollador Web - Infosoft, Enero - Agosto 2022.</p>
            <p class="profile-list"><strong>Skilss: </strong>Diseño web, Pensaminto de diseño, codigo Front y BackEnd, comunicacion fuerte, solucionador de  problemas.</p>
            <p class="profile-list"><strong>Lenguajes: </strong>HTML, CSS, JavaScript, PHP, Boostrap, MySql, Ruby.</p>
        </div>
    </div>
</section>